@import './styles/media.scss';
@import './styles/global.scss';

html {
}

header {
    .logo-img {
        height: 4rem;
    }
}

#hero {
    .hero {
        height: calc(100vh - 15rem);

        .hero-overlay {
            background: rgb(33, 33, 33);
            background: linear-gradient(
                180deg,
                rgba(33, 33, 33, 1) 0%,
                rgba(33, 33, 33, 0.45602030812324934) 50%,
                rgba(33, 33, 33, 1) 100%
            );

            &.part-2 {
                background: rgb(33, 33, 33);
                background: linear-gradient(
                    90deg,
                    rgba(33, 33, 33, 1) 0%,
                    rgba(33, 33, 33, 0.8) 25%,
                    rgba(33, 33, 33, 0) 100%
                );
            }
        }

        .hero-info {
            .ss-information {
                // max-width: 50%;
                h5 {
                    font-size: 1.8rem;
                    color: rgb(172, 172, 172);
                    padding: 0 0.3rem;
                }

                h1 {
                    max-width: 60rem;
                    font-size: 6.75rem;
                    line-height: 100%;
                }
            }
        }
    }
}

#whyus {
    padding: 10rem 0;
    .card {
        width: 100%;
        padding: 3.5rem 2rem;
        border-radius: 6rem 6rem 6rem 0rem;
        margin: 0 1.5rem;

        h5 {
            letter-spacing: 1px;
        }
        h2 {
            line-height: 150%;
        }

        p {
            &.text-base {
                font-size: 1.2rem;
                line-height: 150%;
            }
        }

        .ss-img-holder {
            margin-bottom: 4rem;

            img {
                width: 6.5rem;
                height: 6.5rem;
                object-fit: cover;
            }
        }
        h1 {
            font-size: 2.2rem;
            margin-bottom: 2rem;
        }

        &:nth-child(n + 2) {
            background-color: #191818;

            p {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                font-weight: 200;
                color: #ababab;
            }
        }

        &:first-child {
            padding: 3.5rem 2rem 3.5rem 0;
            border-radius: 0;
        }
    }
}

#services {
    padding: 10rem 0;

    .ss-table {
        width: 50rem;
    }
}

footer {
    .hero {
        background-color: #191818;
    }
}

#about-page {
    #about-header {
        .about-hero {
            height: calc(100vh - 35rem);
            // filter: grayscale(1);
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://images.unsplash.com/photo-1583784561126-c18e59057f3b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80');
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            position: relative;

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgb(33, 33, 33);
                background: linear-gradient(
                    180deg,
                    rgba(33, 33, 33, 1) 0%,
                    rgba(33, 33, 33, 0.65602030812324934) 50%,
                    rgba(33, 33, 33, 1) 100%
                );
            }
            .overlay-2 {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgb(33, 33, 33);
                background: linear-gradient(
                    90deg,
                    rgba(33, 33, 33, 1) 0%,
                    rgba(33, 33, 33, 0.8) 25%,
                    rgba(33, 33, 33, 0) 100%
                );
            }
            .ss-header {
                z-index: 10;
                position: relative;
            }
            .breadcrumbs {
                z-index: 10;
                position: relative;
            }
        }
    }

    #about-info {
        padding: 10rem 0;
    }
}
