@import './styles/media.scss';
@import './styles/global.scss';

html {
}

.logo-img {
    height: 5rem;
}

.bg-red-500 {
    background-color: #e41d23;
}

.hover\:bg-red-500:hover {
    background-color: #e41d23;
}
