.ss-outerrow {
    height: 100vh;
}

.ss-form-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.ss-logo-bhado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.bg-kaapal {
    background-color: #ec1d26;
    color: #fff;
    transition: all 0.1s ease-in;
}
.bg-kaapal:hover {
    background-color: #fa5d65;
    color: #fff;
}

.ss-profile-img {
    height: 12rem;
    width: 12rem;
    object-fit: contain;
    border-radius: 50%;
    backdrop-filter: sepia(90%);
}

.bg-kp {
    background-color: #1a1a1a;
}

.view-btn {
    background: #4e73df;
    color: white;
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
    margin-right: 0.6rem;
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
}

.view-btn:hover {
    text-decoration: none;
    background: white;
    color: #4e73df;
    border: 2px solid #4e73df;
}
